@media screen and (min-width: 650px) {
  .scheduleColumn {
    display: inline-block;
    width: 35%;
  }

  .produceColumn {
    display: inline-block;
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  .scheduleColumn {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .produceColumn {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}